cat_6=" 
    /\_/\           ___
   = o_o =_______    \ \  
    __^      __(  \.__) )
(@)<_____>__(_____)____/
"
the_cat="
    |\__/,|   (\`
  _.|o o  |_   ) )
-(((---(((--------
"
meeseeks="
  , ; ,   .-'\"\"\"'-.   , ; ,
  \\|/  .'         '.  \|//
   \-;-/   ()   ()   \-;-/
   // ;               ; \\\\
  //__; :.         .; ;__\\\\
 \`-----'.'-.....-'.'/-----'
        '.'.-.-,_.'.'
          '(  (..-'
            '-';
"
oli_the_cat="
   /\\_/\\   -Helloo!
  ( o.o )
------------
"
echo "$oli_the_cat"