# ~/.dotfiles/asciiart/asciiart.rc
# ASCII arts
# Managed by: ~/.dotfiles/asciiart/asciiart.sh
# Author: Simge Ekiz
# License: MIT

cat_1=" 
    /\_/\           ___
   = o_o =_______    \ \  
    __^      __(  \.__) )
(@)<_____>__(_____)____/
"
cat_2="
    |\__/,|   (\`
  _.|o o  |_   ) )
-(((---(((--------
"
meeseeks="
  , ; ,   .-'\"\"\"'-.   , ; ,
  \\|/  .'         '.  \|//
   \-;-/   ()   ()   \-;-/
   // ;               ; \\\\
  //__; :.         .; ;__\\\\
 \`-----'.'-.....-'.'/-----'
        '.'.-.-,_.'.'
          '(  (..-'
            '-';
"
oli_the_cat="
   /\\_/\\   -Helloo!
  ( o.o )
------------
"

oli_the_cat_2="
     /\\_/\\
    ( o.o )
     > v <
  ------------"

# Motivational messages array
messages_1="You're doing great, keep going! 💪"
messages_2="Every day is a fresh start. 🌱"
messages_3="You got this! ✨"
messages_4="Don't forget to smile today 😺"
messages_5="Progress, not perfection."
messages_6="Stay pawsitive! 🐾"